header {
  position: fixed;
  top: 200px;
  left: 150px;
  right: 900px;
  background-color: #ADD8E6;
}

main {
  width: 365px;
  margin: 100px auto 0px auto;
  background-color: #ADD8E6;
}

body {
  background-color: #ADD8E6;
  background-repeat: no-repeat;
  background-position: right top;
  background-size:500px 650px;
  margin-right: 200px
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 25px;
}

input {
    width: 40%;
    height: 40px;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
    margin-bottom:15px;
}
