header {
  position: fixed;
  top: 200px;
  left: 400px;
  right: 500px;
  background-color: #f5f5dc;
}

main {
  width: 365px;
  margin: 300px auto 0px auto;
  background-color: #f5f5dc;
}

body {
  background-color: #f5f5dc;
  background-repeat: no-repeat;
  background-position: right top;
  background-size:500px 650px;
  margin-right: 200px
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 50px;
}

#Disneycali-form-button {
  color: #000000;
  font-size: 40px;
  text-align: center;
  background-color: #D3D3D3;
  cursor: pointer;
  width: 330px;
  height: 330px;
  margin-bottom:20px;
  border-radius: 100%;
  background-image: url("../images/Adventure Park Button.jpg");
  position:absolute; left:0;
  top:60px;
}


#sixflags-form-button {
  color: #000000;
  font-size: 40px;
  text-align: center;
  background-color: #D3D3D3;
  cursor: pointer;
  width: 330px;
  height: 330px;
  margin-bottom:15px;
  border-radius: 50%;
  background-size: contain;
  background-image: url("../images/Six Flags Button.jpg");
  position:absolute;
  top:60px;

}

#Disneyland-form-button {
  color: #000000;
  font-size: 40px;
  text-align: center;
  background-color: #D3D3D3;
  cursor: pointer;
  width: 330px;
  height: 330px;
  margin-bottom:15px;
  border-radius: 50%;
  background-image: url("../images/Disney button.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  position:absolute; right:0;
  top:60px;

}

#KnottsBerry-form-button {
  color: #000000;
  font-size: 40px;
  text-align: center;
  background-color: #D3D3D3;
  cursor: pointer;
  width: 330px;
  height:330px;
  margin-bottom:15px;
  border-radius: 50%;
  background-image: url("../images/Knotts button.jpg");
  background-position: center ; 
  position:relative; left:250px;

}

#universal-form-button {
  color: #000000;
  font-size: 40px;
  text-align: center;
  background-color: #D3D3D3;
  cursor: pointer;
  width: 330px;
  height:330px;
  margin-bottom:15px;
  border-radius: 50%;
  background-image: url("../images/Universal button.jpg");
  position:relative; right:250px;
  bottom:350px;

}

