header {
  position: fixed;
  top: 200px;
  left: 400px;
  right: 500px;
  background-color: #ADD8E6;
}

main {
  width: 365px;
  margin: 300px auto 0px auto;
  background-color: #ADD8E6;
}

body {
  background-color: #ADD8E6;
  background-repeat: no-repeat;
  background-position: right top;
  background-size:500px 650px;
  margin-right: 200px
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 50px;
}

#Disneycali-form-button {
  cursor: pointer;
  width: 330px;
  height: 330px;
  margin-bottom:20px;
  border-radius: 100%;
  top:60px;
  background-image: url("../images/adventure park button.jpg");
  background-size: contain;
  position:absolute; left:0;
  background-repeat: round;
  background-color: #4CAF50;
  background-height:auto;
  background-color: #55acee;
}


#sixflags-form-button {
  cursor: pointer;
  width: 330px;
  height: 330px;
  margin-bottom:15px;
  border-radius: 50%;
  background-size: contain;
  background-image: url("../images/Six Flags Button.jpg");
  position:absolute;
  top:60px;
  background-repeat: round;
  background-color: #55acee;


}

#Disneyland-form-button {
  cursor: pointer;
  width: 330px;
  height: 330px;
  margin-bottom:15px;
  border-radius: 50%;
  background-image: url("../images/Disney button.jpg");
  background-size: contain;
  position:absolute; right:0;
  top:60px;
  background-repeat: round;
  background-color: #55acee;

}

#KnottsBerry-form-button {
  cursor: pointer;
  width: 330px;
  height:330px;
  margin-bottom:15px;
  border-radius: 50%;
  background-image: url("../images/Knotts button.jpg");
  background-position: center ; 
  position:relative; left:250px;
  background-size: 330px 330px;
  background-repeat: round;
  background-height:auto;
  padding: 15px 32px;
  background-color: #55acee;
}

#universal-form-button {
  cursor: pointer;
  width: 330px;
  height:330px;
  margin-bottom:15px;
  border-radius: 50%;
  background-image: url("../images/Universal button.jpg");
  position:relative; right:250px;
  bottom:350px;
  background-size: cover;
  background-repeat: round;
  background-color: #55acee;
  }
  

