header {
  position: fixed;
  top: 200px;
  left: 400px;
  right: 500px;
  background-color: #f5f5dc;
}

main {
  width: 365px;
  margin: 300px auto 0px auto;
  background-color: #f5f5dc;
}

body {
  background-color: #f5f5dc;
  background-repeat: no-repeat;
  background-position: right top;
  background-size:500px 650px;
  margin-right: 200px
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 50px;
}


