<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/disneyCali.css">
  </head>
  <body>
    <main>
        <button onclick="myFunction()"   id="purchase-ticket-button">Purchase Ticket</button>
        <button onclick="myFunction1()"  id="enter-ticket-number-button">Enter Ticket Number</button>
        <button onclick="myFunction2()"  id="I-have-pass-button">I have a pass</button>
  <script>
  function myFunction() { 
     window.location.href = '/purchaseTicket'
  }
</script>

<script>
function myFunction1() {
    window.location.href = '/enterTicket'
}
</script>

<script>
function myFunction2() {
    window.location.href = '/iHavePass'
}
</script>


        </form>
    </main>
  </body>
</html>