<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/profile.css">
  </head>
  <body>
    <main>
    <form action="/createprofile/users" method ="post"> 
    username :<input id="username" type="text" value="<%= username %>"><br>
    First Name: <input id = "firstname" type="text" value="<%= firstname %>"><br>
    Last Name: <input type="text" name="Lname" ><br>
    Email Address: <input type="email" name="email" ><br>
    Phone Number: <input type="Number" name="pnum" maxlength="10" ><br>
    Save : <input type="submit" value="Submit">
    </form>
  </main>
  </body>
</html>
   