<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/enterTicket.css">
  </head>
  <body>
    <header>D.O.T</header>
    <main>
    <form action = "/enterTicket/verified", method ="post">
    Ticket Number: <input type="text" name="TicketNumber"><br>
        <button onclick="myFunction()"   id="Verify-ticket-button">verify my ticket</button>
    <script>
  function MyFunction1() { 
     window.location.href = '/verifyTicket'
  }
</script>
        </form>
    </main>
  </body>
</html>