<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/index.css">
  </head>
  <body>
    <header>Welcome to D.O.T</header>
    <main>
        <button onclick="myFunction()"   id="login-form-button">login</button>
        <button onclick="MyFunction1()"  id="Create-account-form-button">create account</button>
<script>
  function MyFunction1() { 
     window.location.href = '/createprofile'
  }
</script>

<script>
function myFunction() {
    window.location.href = '/login'
}
</script>


        </form>
    </main>
  </body>
</html>