<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/login.css">
  </head>
  <body>
    <header>D.O.T</header>
    <main>
    <form action = "/login/users", method ="post">
     Username: <input type="text" name="uname"><br>
     Password: <input type="password" name="pwd"><br>
    <input type="submit" value="Submit">
    <button id="forgot-password-form-button">Forgot password?</button>
        <button id="forgot-username-account-form-button">Forgot username?</button>
      </form>
     </main>
  </body>
</html>