<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/myaccount.css">
  </head>
  <header>D.O.T
          My Account</head>
  <body>
    <main>
    <form action="/myaccount" method ="post">
    Hello: <input type="text" name="uname"><br>
    My Balance: <input type="text" name="mybalance" ><br>
    My Rewards: <input type="text" name="myrewards" ><br>
    <button id ="edit-account-button" name="Fname">Edit Account info:</button>
    <button id ="edit-payment-button" name="Lname">Edit payment info:</button>
    </form>
    </main>
  </body>
</html>