<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/myaccount.css">
  </head>
  <header>D.O.T</header>
    <p>My Account</p>
    <body>
    <main>
    <form action="/myaccount/:user_id/edit" method ="post">
    My Balance: <input type="text" name="mybalance" ><br>
    My Rewards: <input type="text" name="myrewards" ><br>
    <button id ="edit-account-button" name="Fname">Edit Account info:</button>
    <button id ="edit-payment-button" name="Lname">Edit payment info:</button>
    <button id ="pay-now-button" name="Fname">Pay Now</button>
    <button id ="refill-button" name="Lname">Refill Account</button>
    </form>
    </main>
  </body>
</html>