<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/passVerified.css">
  </head>
  <body>
    <header>Welcome to D.O.T</header>
    <p>Your Pass has been verified and added to your account</p>
    </form>
    </main>
  </body>
</html>