
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/payment.css">
  </head>
  <body>
<header> Save Payment Options</header>
    <main>
    <form action="/login/payment/save" method ="post">
    Credit card number*: <input type="text" name="ccnum" required =""><br>
    Name on card*: <input type="text" name="cname" required=""><br>
    exp. date*: <input type="text" name="expdate" required=""><br>
    CVV*: <input type="text" name="cvv" required=""><br>
    Billing Address*: <input type="text" name="address" required=""><br>
    <input type="submit" value="Save">
    </form>
    </main>
  </body>
</html>