
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/payment.css">
  </head>
  <body>
<header> Save Payment Options</header>
    <main>
    <form action="/login/payment/save" method ="post">
    Credit card number*: <input type="text" name="ccnum"><br>
    Name on card*: <input type="text" name="cname"><br>
    exp. date*: <input type="text" name="expdate"><br>
    CVV*: <input type="text" name="cvv"><br>
    Billing Address*: <input type="text" name="address"><br>
    <input type="submit" value="Save">
    </form>
    </main>
  </body>
</html>