<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/myaccount.css">
  </head>
  <header>D.O.T</header>
  <body>
    <main>
    <form action="/myaccount/:user_id/edit" method ="post">
    Current Balance: <input id="Balance" type="text" ><br>
    <p> Scan the below Bar-Code to Pay</p>
     <button id ="Next" name="Next">Next</button>
    </form>
    </main>
  </body>
</html>