<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/profile.css">
  </head>
  <body>
    <main>
    <form action="/purchaseTicket/completed" method ="post">
    Date: <input type="text" name="Date" required=""><br>
    Quatity: <input type="text" name="Quantity" required=""><br>
    Type : <input type="text" name="Type" required=""><br>
    <input inclick ="MyFunction1" type="submit" value="Pay with DOT cash">
    
   <script>
  function MyFunction1() { 
     window.location.href = '/purchaseTicket/completed'
  }
  </script>
    </form>
    </main>
  </body>
</html>