<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/scanbar.css">
  </head>
  <body>
    <header>D.O.T</header>
    <main>
    <form action = "/refill/success", method ="post">
    Amount : <input type="text" name="refill"><br>
    Scan the Bar code to pay 
        <button onclick="myFunction()" value="next"  id="refill"></button>
    <script>
  function MyFunction1() { 
     window.location.href = '/refill/success'
  }
</script>
        </form>
    </main>
  </body>
</html>