<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/selectpark.css">
  </head>
  <body>
    <main>
        <button onclick="myFunction()"   id="Disneycali-form-button"></button>
        <button onclick="myFunction1()"  id="sixflags-form-button"></button>
        <button onclick="myFunction2()"   id="KnottsBerry-form-button"></button>
        <button onclick="myFunction3()"  id="universal-form-button"></button>
        <button onclick="myFunction4()"   id="Disneyland-form-button"></button>
        
<script>
  function myFunction() { 
     window.location.href = '/Disney-Cali-adv'
  }
</script>

<script>
function myFunction1() {
    window.location.href = '/six-flag'
}
</script>
<script>
  function myFunction2() { 
     window.location.href = '/Knotts-berry'
  }
</script>

<script>
function myFunction3() {
    window.location.href = '/universal-studio'
}
</script>
<script>
  function myFunction4() { 
     window.location.href = '/Disneyland'
  }
</script>
        </form>
    </main>
  </body>
</html>