<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/select.css">
  </head>
  <body>
    <header>D.O.T</header>
    <main>
        <button onclick="myFunction()"   id="Select-park">Select Park</button>
        <button onclick="MyFunction1()"  id="My-Account">My Account</button>
<script>
  function myFunction() { 
     window.location.href = '/selectpark'
  }
</script>

<script>
function MyFunction1() {
    window.location.href = '/myaccount'
}
</script>
  </form>
  </main>
  </body>
</html>
